* {
    box-sizing: border-box;
    /*max-width: 1024px;*/
    margin: 0 auto;
}

body {
    background-color: #f5cc99;
    margin: 0px;
}

header {
    background-color: #92caed;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0px;
}
img {
    width: 250px;
    height: 250px;
}
nav {
    background-color: #e5cad4;
    font-family: Arial;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 2px;

}

nav a {
    display: 14px 16px;
    padding: inline-block;
    margin-left: 1cm;
}

nav a:hover {
    background-color: #cda8b8;
    color: white;
}

footer {
    background-color: #cda8b8;
    color: #444444;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

main {
    padding: 20px;
    display: grid;
    max-width: 70%;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-gap: 10px;

}
.outcard{
    background-color: rgb(233, 12, 178);
    padding: 1px;
    margin: 30px 10px;
    border-radius: 15px;
    block-size:cover;
    justify-items: center; 
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);/**/
    /*grid-template-columns:repeat(5, 1fr); */
    position: relative;
    
}
.brandname{
    color: #b08968;
    font-size: 25px;
    text-align: center;
    grid-column: 1 / -1; 
    position: absolute; 
    top: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
}
.card {
    /*background-color: white;*/
    text-align: left;
    line-height: 1cm; 
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    background-image: url(image/card_img.jpg);
    background-size: cover;
    flex: 2 1 300px;
}
.car{
    text-align: left;
    color: white;
    background-color: rgb(71, 126, 208);
    padding: 10px;
    margin: 20px;
    margin-left: auto;
    border-radius: 5px;
}
/*aside {
    /*text-align: center;*/
    /*grid-row:3/4;
    gird-column:1/4;
    grid-area: 3/1/span 4/2;
    justify-items: center; 
    align-items: center; 
}*/